html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background:#000;
	font-family:'Anonymous Pro', arial, serif;
}

#bottom
{
	height: 30px;
}

#holder{
	height: 105px;
	width: 768px;
	background:url(images/kosteshman.jpg);
	position: relative;
	left: 50%;
	margin-left: -384px;
	top: 50%;
	margin-top: -120px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=12);
	-moz-opacity: 0.12; 
	-khtml-opacity: 0.12;
	opacity: 0.12;
}

#contacts
{
	font-family: 'Arial Black';
	font-size: 1.3em;
	color: #212121;
	position: relative;
	text-align: right;
	margin-left: -384px;
	width: 768px;
	left: 50%;
	top: 50%;
}

#contacts a
{
	color: #212121;
	text-decoration: none;
}

#texter div
{
	font-size: 18px;
	padding: 5px 0 5px 10px;
	color: #006600;
}

#texter div.msg
{
	color: #999;
}

#texter div a
{
	color: #006600;
}

#texter div.msg a
{
	color: #999;
}


#typer
{
	float: left;
	color: #999;
	padding-left: 10px;
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 30px;
}

#input
{
	clear: both;
	display: block;
	position: absolute;
	height: 20px;
	left: -800px;
	margin-top: -20px;
}

#input_str
{
	color: #ccc;
	padding-left: 10px;
	float: left;
	font-size: 18px;
	padding-top: 5px;
}
