<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>getstatus</servlet-name>
		<servlet-class>kosteshman.GetStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getstatus</servlet-name>
		<url-pattern>/getstatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newbot</servlet-name>
		<servlet-class>kosteshman.AddNewBot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newbot</servlet-name>
		<url-pattern>/newbot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>removebot</servlet-name>
		<servlet-class>kosteshman.DeleteBot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>removebot</servlet-name>
		<url-pattern>/removebot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getbots</servlet-name>
		<servlet-class>kosteshman.GetBots</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getbots</servlet-name>
		<url-pattern>/getbots</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>freebot</servlet-name>
		<servlet-class>kosteshman.FreeBot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>freebot</servlet-name>
		<url-pattern>/freebot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>send</servlet-name>
		<servlet-class>kosteshman.SendMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>send</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>incomingmessage</servlet-name>
		<servlet-class>kosteshman.IncomingMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>incomingmessage</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getmessages</servlet-name>
		<servlet-class>kosteshman.GetMessages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getmessages</servlet-name>
		<url-pattern>/getmessages</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
